/* Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Dirt&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

h2,
h3,
.btn,
.img-question,
p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.game-area {
    background-color: gray;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 2px;
}

.img-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.img-question img {
    width: 60%;
    max-width: 140px;
    padding-bottom: 5%;
}

.controls {
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn {
    width: 50px;
}

.score-area {
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 2px;
}

.hide {
    display: none;
}

.timeline {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    background-color: lightgray;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px;
}

.left-group,
.right-group {
    display: flex;
    flex: 1;
    justify-content: space-around;
    font-size: 60%;
}

.threshold {
    font-size: 130%;
    margin-top: 2%;
}

.round img {
    border: 1px solid black;
    border-radius: 50%;
    width: 50%
}