/* Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Dirt&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General style for body*/
body {
    background-color: #FFE8D1;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/*Style for header*/
.heading {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*Style for other text*/
h2,
h3,
.btn,
.img-question,
p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*The quiz container*/
.game-area {
    background-color: #C4A18D;
    width: 70%;
    height: auto;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px;
}

/* For the image and text to be aligned*/
.img-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

/* Image style*/
.img-question img {
    width: 60%;
    max-width: 140px;
    margin-bottom: 5%;
    box-shadow: 0 0 5px 2px;
}

.counting-qst {
    display: flex;
    justify-content: flex-end !important;
    padding-right: 2px;
    padding-top: 2px;
    font-size: 80%;
}

/*Style for controls and buttons*/
.controls {
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn {
    width: 70px;
    height: auto;
    background-color: #FFE8D1;
    border: 1px solid #8D6D5B;
    font-size: 110%;
}

.btn:hover {
    background-color: #8D6D5B;
    cursor: pointer;
}

/* When button is disabled, no pointer or changing color when hovered*/
.btn:disabled:hover {
    cursor: default;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.correct:hover {
    background-color: green;
}

.wrong:hover {
    background-color: red;
}

/* Style for the score-area*/
.score-area {
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 2px;
}

/*Style for the timeline*/
.timeline {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: #C4A18D;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px;
}

.left-group,
.right-group {
    display: flex;
    flex: 1;
    justify-content: space-around;
    font-size: 50%;
    padding: 2px;
}

.threshold {
    margin-top: 2%;
    font-size: 65%;
}

.round img {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
}

/* Footer style*/
footer {
    margin-top: 5%;
    font-size: 70%;
}

/* Hide for JS code*/
.hide {
    display: none;
}

/* Media query: Tablets and larger 768px */
@media screen and (min-width: 768px) {

    .heading {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 300%;
    }

    .game-area {
        width: 40%;
    }

    .btn {
        width: 100px;
        font-size: 110%;
        padding: 2px;
    }

    .score-area {
        width: 40%;
    }

    .timeline {
        width: 60%;
        margin-top: 2%;
        max-height: 100px;
    }

    .round img {
        width: 60px;
    }

    .left-group,
    .right-group {
        font-size: 70%;
    }

    .threshold {
        font-size: 80%;
    }

    footer {
        margin-top: 1%;
    }
}

/* Media query: Laptops and larger 992px */
@media screen and (min-width: 992px) {
    .heading {
        font-size: 350%;
    }

    .game-area {
        width: 30%;
    }

    .btn {
        width: 100px;
        font-size: 110%;
        padding: 2px;
    }

    .score-area {
        width: 30%;
        justify-content: space-evenly;
    }

    .timeline {
        width: 50%;
    }

    .round img {
        width: 70px;
    }

    .left-group,
    .right-group {
        font-size: 90%;
    }

    .threshold {
        font-size: 100%;
    }
}